<table cellspacing="0" cellpadding="0" border="0" style="FONT-FAMILY: Lucida Console, monospace; COLOR: #1f74b4;max-width:500px;" class="ng-scope">
    <tbody>
      <tr>
          <td colspan="2" width="500" style="padding-bottom: 4px; border-bottom: 1px solid #1f74b4">
              <span style="FONT-SIZE: 18pt; COLOR: #0cc402; FONT-FAMILY: Lucida Console, monospace;"><strong class="ng-binding">Suchi Hossain</strong></span>
              <!-- ngIf: isAnyFieldEntered('title, website') --><span ng-if="isAnyFieldEntered('title, website')" class="ng-scope"><br></span><!-- end ngIf: isAnyFieldEntered('title, website') -->
              <!-- ngIf: showField('title') --><span ng-if="showField('title')" style="font-size: 10pt; color: #1f74b4;" class="ng-binding ng-scope">Web Designer <!-- ngIf: showField('website') --><span ng-if="showField('website')" class="ng-scope"> | </span><!-- end ngIf: showField('website') --></span><!-- end ngIf: showField('title') -->
              <!-- ngIf: showField('website') --><span ng-if="showField('website')" class="ng-scope">
                  <a href="http://www.facebook.com/Suchir-Collection-101167598322089" target="_blank" rel="noopener" style="font-size: 10pt; color: #0cc402 !important; text-decoration:none; font-weight: bold;" class="ng-binding">www.facebook.com/Suchir-Collection-101167598322089</a>
              </span><!-- end ngIf: showField('website') -->
          </td>
      </tr>
      <tr>
          <!-- ngIf: showField('photo') --><td ng-if="showField('photo')" width="120" style="padding-top: 12px;" class="ng-scope">
              <p style="padding: 0px; margin: 0px;">
          <img border="0" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/photo.png" alt="Photo" width="90" style="max-width:90px; height:auto; border:0;" src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/photo.png">
              </p>
          </td><!-- end ngIf: showField('photo') -->
          <td style="padding-top: 15px;">
              <!-- ngIf: showField('phone') -->
              <!-- ngIf: showField('mobile') --><p ng-if="showField('mobile')" style="line-height: 12px; padding-bottom: 2px; margin-bottom: 0px; padding-top: 0px; margin-top: 0px;" class="ng-scope"><span style="font-size: 9pt; color: #1f74b4; font-weight: bold;">M:</span> <span style="font-size: 9pt; color: #a54040" class="ng-binding">01717546789</span></p><!-- end ngIf: showField('mobile') -->
              <!-- ngIf: showField('email') --><p ng-if="showField('email')" style="line-height: 12px; padding-bottom: 2px; margin-bottom: 0px; padding-top: 0px; margin-top: 0px;" class="ng-scope"><span style="font-size: 9pt; color: #1f74b4; font-weight: bold;">E:</span> <a href="mailto:suchihossain455@gmail.com" style="text-decoration: none; font-size: 9pt; color: #a54040" class="ng-binding">suchihossain455@gmail.com</a></p><!-- end ngIf: showField('email') -->
              
              <!-- ngIf: isAnyFieldEntered('company, address1, address2') --><p ng-if="isAnyFieldEntered('company, address1, address2')" style="line-height: 12px; padding-bottom: 2px; margin-bottom: 0px; padding-top: 0px; margin-top: 0px;" class="ng-scope">
                  <span style="font-size: 9pt; color: #1f74b4; font-weight: bold;">A:</span> 
                  <!-- ngIf: showField('company') --> 
                  <!-- ngIf: showField('address1') --><span ng-if="showField('address1')" style="font-size: 9pt; color: #a54040" class="ng-binding ng-scope">Borgasha,Natore</span><!-- end ngIf: showField('address1') --><!-- ngIf: showField('address1') --><span ng-if="showField('address1')" style="font-size: 9pt; color: #a54040" class="ng-scope">, </span><!-- end ngIf: showField('address1') -->
                  <!-- ngIf: showField('address2') --><span style="font-size: 9pt; color: #a54040" ng-if="showField('address2')" class="ng-binding ng-scope">Rajshahi,Bangladesh</span><!-- end ngIf: showField('address2') -->
              </p><!-- end ngIf: isAnyFieldEntered('company, address1, address2') -->
              
              <p style="margin-bottom: 0px; padding-bottom: 0px; padding-top: 5px; margin-top: 5px;">
                  <!-- ngIf: showField('facebookURL') --><span ng-if="showField('facebookURL')" class="ng-scope"><a href="https://www.facebook.com/sadh.hossain.7" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/fb.png" alt="facebook icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/fb.png"></a>&nbsp;</span><!-- end ngIf: showField('facebookURL') -->
                  <!-- ngIf: showField('twitterURL') --><span ng-if="showField('twitterURL')" class="ng-scope"><a href="https://twitter.com/SuchiHossain/photo" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/tt.png" alt="twitter icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/tt.png"></a>&nbsp;</span><!-- end ngIf: showField('twitterURL') -->
                  <!-- ngIf: showField('youtubeURL') -->
                  <!-- ngIf: showField('linkedinURL') --><span ng-if="showField('linkedinURL')" class="ng-scope"><a href="https://www.linkedin.com/in/suchi-hossain-4a1a5b243/" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/ln.png" alt="linkedin icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/ln.png"></a>&nbsp;</span><!-- end ngIf: showField('linkedinURL') -->
                  <!-- ngIf: showField('instagramURL') --><span ng-if="showField('instagramURL')" class="ng-scope"><a href="https://www.instagram.com/sadh.hossain.7/" target="_blank" rel="noopener"><img border="0" width="20" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/it.png" alt="instagram icon" style="border:0; height:20px; width:20px" src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/it.png"></a>&nbsp;</span><!-- end ngIf: showField('instagramURL') -->
                  <!-- ngIf: showField('pinterestURL') -->		
              </p>
          </td>
      </tr>
      <!-- ngIf: showField('banner') --><tr ng-if="showField('banner')" class="ng-scope">
          <td colspan="2" style="padding-top:25px; margin-bottom:0;">
              <!-- ngIf: showField('bannerURL') --><a ng-if="showField('bannerURL')" href="https://www.codetwo.com/email-signatures/" target="_blank" rel="noopener" class="ng-scope"><img border="0" ng-src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/banner.png" alt="Banner" width="500" style="max-width:500px; height:auto; border:0;" src="https://www.mail-signatures.com/signature-generator/img/templates/4th-july-2022-1/banner.png"></a><!-- end ngIf: showField('bannerURL') -->
              <!-- ngIf: !showField('bannerURL') -->
          </td>
      </tr><!-- end ngIf: showField('banner') -->
      <!-- ngIf: showField('disclaimer') --><tr ng-if="showField('disclaimer')" class="ng-scope">
          <td colspan="2" style="padding-top:10px;">
              <p style="font-size:7pt; line-height:1.2; COLOR: #959595; FONT-FAMILY: Lucida Console, monospace;" class="ng-binding">The content of this email is confidential and intended for the recipient specified in message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future.</p>
          </td>
      </tr><!-- end ngIf: showField('disclaimer') -->
    </tbody>
  </table>
